Constant/Config/mongodb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mongoDBConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mongoDB">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mongoClient">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="mode">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="read"/>
                        <xs:enumeration value="write"/>
                        <xs:enumeration value="full"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="connectionString" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>